.relogioNumero {
  background-color: #5D677C; // Cor de fundo dos números do relógio
  box-shadow: 2px 2px 4px #2B2B2B inset; // Sombra interna
  height: 3.6rem; // Altura dos números
  width: 3rem; // Largura dos números
  padding: 8px 4px; // Espaçamento interno
  border-radius: 10px; // Arredonda os cantos

  @media screen and (min-width:1280px) {
      height: 10.8rem; // Altura maior em telas grandes
      width: 9rem; // Largura maior em telas grandes
  }
}

.relogioDivisao {
  height: 4.2rem; // Altura do separador ":"

  @media screen and (min-width:1280px) {
      height: 12.6rem; // Altura maior em telas grandes
  }
}
