.cronometro {
  display: flex; // Define o layout do cronômetro como flexível
  flex-direction: column; // Organiza os itens verticalmente
  align-items: center; // Centraliza os itens horizontalmente
  grid-area: cronometro; // Define a área no grid da página principal para o cronômetro

  .relogioWrapper {
      align-items: center; // Centraliza o conteúdo no eixo vertical
      background-color: #7687A1; // Cor de fundo do relógio
      border-radius: 10px; // Arredonda os cantos
      box-shadow: 2px 4px 4px #0000009F; // Adiciona uma sombra ao redor
      box-sizing: border-box; // Inclui padding e borda no cálculo do tamanho
      display: flex; // Define o layout como flexível
      font-size: 5rem; // Define o tamanho da fonte
      justify-content: center; // Centraliza o conteúdo no eixo horizontal
      margin-bottom: 24px; // Adiciona espaçamento inferior
      padding: 16px 12px; // Define o espaçamento interno
      width: 100%; // Define a largura completa
  }

  .titulo {
      font-size: 2rem; // Define o tamanho da fonte do título
  }

  button {
      background-color: #88bcd1; // Cor de fundo do botão
      border-radius: 10px; // Arredonda os cantos
      box-shadow: 2px 4px 4px #0000009F; // Sombra externa
      color: #272626; // Cor do texto
      cursor: pointer; // Muda o cursor para "pointer" ao passar sobre o botão
      font-size: 1.25rem; // Define o tamanho da fonte
      padding: 16px; // Define o espaçamento interno
      width: 150px; // Define a largura do botão
      
      &:active {
          background-color: #7CA6B7; // Cor de fundo quando o botão é pressionado
          box-shadow: 2px 2px 4px #0000009F inset; // Sombra interna ao pressionar
          cursor: auto; // Desativa o cursor de pointer
      }
  }

  @media screen and (min-width:1280px) {
      .relogioWrapper {
          font-size: 15rem; // Aumenta o tamanho da fonte em telas grandes
      }

      p {
          font-size: 2rem; // Aumenta o tamanho da fonte do texto
      }

      button {
          grid-column-start: span 2; // Botão ocupa duas colunas no grid
          justify-self: center; // Centraliza o botão
          width: 200px; // Largura maior para o botão em telas grandes
          font-size: 2.25rem; // Tamanho de fonte maior
      }
  }
}
